:root{
    --brand-blue:blue;
    --brand-green: #00ff00;
    --brand-black:black;
    --brand-gray:gray;
}

.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollable-steps::-webkit-scrollbar {
    display: none;
}