:root{
    --default-font:"JetBrians Mono";

    --brand-blue:blue;
    --brand-green: #00ff00;
    --brand-black:black;
    --brand-gray:gray;
}

.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.esporterz-logo-text{
    font-family:'Esporterz Logo';
}

@font-face {
    font-family: 'Esporterz Logo';
    src: url('../font/Esporterzlogo1-Regular.ttf');
}
