:root{
    --code-pane-background: #d3d3d3;
    --view-pane-background: #b6b6b6;

    --info-tab-background: #acb4d6;
    --code-tab-background: #90d89e;
    --info-tab-color: #021930;
    --code-tab-color: #033c03;
    --info-section-background: #d1d7e8;

    --info-inset-background: #c6cee3;
    --author-block-background: #b6c3e6;

    --tab-bar-background: #c3c3c3;
}
.nav-shift-fix{
    height:var(--navbar-height);
    width:100%;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-content{
    display: flex;
    height: calc(100vh - var(--navbar-height));
}

.info-pane{
    background: var(--code-pane-background);
    width: 45vw;
    height: 100%;
}

.tab-bar{
    padding-top: 4px;
    display: flex;
    background: var(--tab-bar-background);
}

.tab{
    border-radius: 6px 6px 0 0;
    font-size: 1.1em;
    padding: 1px 6px 1px 3px;
    width:20%;
    margin-left:5px;
    font-weight: bold;
}

.tab.info{
    background: var(--info-tab-background);
    color: var(--info-tab-color);
}
.tab.code{
    background: var(--code-tab-background);
    color: var(--code-tab-color);
}

.section{
    height: 100%;
}

.view-pane{
    background: var(--view-pane-background);
    width: 55vw;
    height: 100%;
}

#exec-frame{
    width: 100%;
    height: 100%;
    border:none
}



.section.info{
    background: var(--info-section-background);
    font-size: 1.1em;
}

.info-author{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-block{
    background: var(--author-block-background);
    padding:1%;
    margin:5px;
    border-radius: 10px;
}

.author-icon img{
    width:10vh;
    height:10vh;
    border-radius: 15px;
    overflow: clip;
}

.info-title{
    font-size: 3em;
    font-weight: bold;
}

.date-container{
    background: var(--info-inset-background);
    padding:2px;
    margin: 1%;
    border-radius:5px;
}

.info-desc{
    background: var(--info-inset-background);
    padding:2px;
    margin: 1%;
    border-radius:5px;
}

.info-author{
    background: var(--info-inset-background);
    padding:2px;
    margin: 1%;
    border-radius:5px;
}


.code-editor-wrapper{
    overflow: clip;
}

.code-editor{
    height: 100vh;
    background: var(--code-editor-background);

    overflow-y:auto;
    overflow-x:hidden;
}

/* the codemirror generated editor */

.cm-editor{
    height: 100%;
}