.resizable-pane {
    height:100vh;
    min-width: 30px;
    resize: horizontal;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content;
}

.pane-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pane-container div{
    width: 100%;
    background: gray;
}

.steps-pane{
    grid-column-start: 1;
    grid-column-end: 2;
}
.code-pane{
    grid-column-start: 2;
    grid-column-end: 3;
}
.output-pane{
    grid-column-start: 3;
    grid-column-end: 4;
}