.code-editor-wrapper{
    overflow: clip;
}

.code-editor{
    height: 100vh;
    padding: 0 0 0 10px;
    background: var(--code-editor-background);

    overflow-y:auto;
    overflow-x:hidden;
}

.code-input{
    margin:0;

}

[contenteditable] {
    outline: 0 solid transparent;
}
