.code-editor-wrapper{
    overflow: clip;
}

.code-editor{
    height: 100vh;
    padding: 0 0 0 10px;
    background: var(--code-editor-background);

    overflow-y:auto;
    overflow-x:hidden;
}

/* the codemirror generated editor */

.CodeMirror{
    height: 100%;
}