.steps-pane{
    overflow: clip;
}

.scrollable-steps{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:100%;
    height:100%;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding: 0 1em;
}

.scrollable-steps::-webkit-scrollbar {
    display: none;
}

.step{
    background: var(--step-background);
    border-radius:10px;
    overflow:clip;

    width:100%;

    min-width: 10vw;
    max-height: 30vw;
    max-width: 30vw;

    aspect-ratio: 1/1;

    margin: 30px auto;
}

.step > .step-head{
    background: var(--step-head-default);
    min-height:10%;
    max-height:20%;
    padding:3%;
    font-size:1.1em;
    display:flex;
    justify-content: space-between;
}
.step > .step-content-wrapper{
    width:100%;
    height:80%;
    padding:2%;
}
.step-content{
    background:var(--step-content-background);

    display:flex;
    flex-direction: column;

    padding:3%;

    max-height:100%;
    height:100%;
    max-width:100%;
    width:100%;

    border-radius: 5px;
}

.step-image{
    width:80%;
    height:80%;
}

.step.info > .step-head{
    background: var(--step-info);
}
.step.code > .step-head{
    background: var(--step-code);
}
.step.challenge > .step-head{
    background: var(--step-challenge);
}
.step.other > .step-head{
    background: var(--step-other);
}

.step-head > .step-head-content{
    display:inline;
    text-wrap: none;
}

.step-head-stats{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.type-display{
    background:var(--step-type-background);
    display: block;

    height: fit-content;
    border-radius: 5px;
    font-size:0.8em;
    padding:3px;
    color:white;
}

.step-count{
    display: block;
    height: fit-content;
    width:fit-content;
    text-wrap: none;
    margin-left: auto;
    font-size:0.7em;
    font-weight: bold;
    padding:3px;
}

.buffer{
    height:25vh;
}