.scrollable-steps{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:100vh;
}

.step{
    background: var(--step-background);
    border-radius:10px;
    overflow:clip;

    width:100%;
    max-height: 30vh;
    min-width: 10vw;
    max-width: 30vw;
    aspect-ratio: 7/5;

    margin: 30px auto;
}

.step > .step-head{
    background: var(--step-head-default);
    height:20%;
}
.step > .step-content{
    background:var(--step-body-background);
}

.step.info > .step-head{
    background: var(--step-info);
}
.step.code > .step-head{
    background: var(--step-code);
}
.step.challenge > .step-head{
    background: var(--step-challenge);
}
.step.other > .step-head{
    background: var(--step-other);
}