:root{
    --filesystem-sidebar: #939393;
    --filesystem-header: #858585;
    --folder-icon-line: #636363;
}

.code-editor-wrapper{
    display: flex;
}

.code-editor{
    flex: 1
}

.filesystem-sidebar{
    width: 13vw;
    background: var(--filesystem-sidebar);
}

.filesystem-sidebar .header{
    background: var(--filesystem-header);
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.file-list{
    padding:3px;
    font-size: 1.1rem;
}

.file{
    display: flex;
    margin-top:5px
}

.file-list .icon{
    width:1.2em;
    aspect-ratio: 1/1;
}

.folder{
    margin-left:20px;
}

.folder-icon{
    margin-left:2px;
    display:flex;
    align-items: center;
}
.folder-icon .name{
    margin-left:5px;
}