:root{
    --default-font: "JetBrains Mono";

    --brand-blue:#0D5DC5;
    --brand-green: #03FC04;
    --brand-black:black;
    --brand-gray:#999999;

    --common-rarity-color: #484848;
    --uncommon-rarity-color: #0091e1;
    --rare-rarity-color: #9a25fa;
    --legendary-rarity-color: #fac825;
    --mythic-rarity-color: #36ffe1;

    --common-rarity-color-dark: #2c2c2c;
    --uncommon-rarity-color-dark: #00699f;
    --rare-rarity-color-dark: #8313d6;
    --legendary-rarity-color-dark: #d3ac0f;
    --mythic-rarity-color-dark: #129a86;

    --legendary-rarity-color-faded: rgba(170, 135, 20, 0.71);
}

body{
    margin: 0;
    padding: 0;
}


*{
    font-family: var(--default-font), monospace;
    font-variant-ligatures: none;
}


.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.esporterz-logo-text{
    font-family:'Esporterz Logo';
}

@font-face {
    font-family: 'Esporterz Logo';
    src: url('../../font/Esporterzlogo1-Regular.ttf');
}
