:root{
    --account-name-text: #ffffff;
    --account-dropdown-option: #d1d1d1;

    --account-dropdown-seperator: #4c4c4c;

    --navbar-shrink-color: #1a1a1a;

    --generic-nav-button-color: #2e2e2e;

    --points-display-background: #11df5a;
    --points-display-text: #ffffff;

    --navbar-height:40px;
}

.option a {
    color: inherit;
    text-decoration: none;
}

brand-nav{
    height:var(--navbar-height);
    width:100vw;
    display: block;
    position: fixed;
    z-index: 999;
    transition: height 1s;
}

.navbar{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(106deg, var(--brand-black) 9%, var(--brand-blue)24%, var(--brand-gray) 47%, var(--brand-black) 66%, var(--brand-green) 87%, var(--brand-black) 99%);


    z-index: 999;

}

.navbar-visibility-button{
    position: absolute;
    transition: 1s;
    margin:3px;
    font-weight: 800;
    color:var(--navbar-shrink-color);
    z-index: 1000;
}

.home-link{
    color: var(--account-name-text);
    background:var(--generic-nav-button-color);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    font-weight: 700;
    font-size: 23px;
    font-family: Calibri, serif;
    text-align: center;

    min-width: 100px;
    padding: 4px;
    border-radius: 10px;

    transition: .1s;
    margin: 3px;
}

.username-link{
    color: var(--account-name-text);
    background:var(--generic-nav-button-color);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    font-weight: 700;
    font-size: 23px;
    font-family: Calibri, serif;

    text-align: center;

    min-width: 100px;
    padding: 4px;
    border-radius: 10px;

    transition: .1s;
}

.account-dropdown-wrapper{
    position: relative;
    margin-right:15px;
    margin-left:auto;
}

.account-options{
    position: absolute;
    overflow: clip;
    z-index: 100;
    width: 100%;
    height:0;
    transition: .4s;
}
.account-options > .option{
    background:var(--generic-nav-button-color);
    width: 100%;
    color: var(--account-dropdown-option);
    height:20px;
    border-top: 1px solid var(--account-dropdown-seperator);
    text-align: center;
}

.points-display{
    color: var(--points-display-text);
    background: var(--points-display-background);
    border-radius: 5px;
    text-align: center;
    align-self: center;
    padding:2px;
    margin-left: 10px;
}