.right-bar{
    display: flex;
    flex-direction: column;
}

.badges{
    height:40%;
    background: #0ed144;
}

.points{
    height:20%;
    background: #0ed144;
}

.user{
    height:20%;
    background: #0ed144;
}