.projects{
    min-height: 60%;
    background: var(--project-section-background);
    padding-top:3px
}

.projects-title{
    margin: 10px 7px 7px;
    font-size:30px;
}

.project-link{
    display: block;
    margin: 10px 7px 7px;
}

.project-link > a{
    padding: 3px;

    background: var(--project-link-background);
    border-radius: 5px;

    color: var(--project-link-text);
    text-decoration: none;
    font-weight: bold;
}

.new-project-button{
    background: var(--new-button-background);
    border-radius: 5px;

    margin: 10px 7px 7px;
    padding:2px;

    text-align: center;
    font-weight: 600;
    font-size:17px;

    color: var(--new-button-text-color);
}