.right-bar{
    display: flex;
    flex-direction: column;
}

.badges{
    height:60vh;
    background: var(--right-sections-background);
    display: flex;
    flex-direction: column;
}

.badge-details{
    height:30%;
    background:var(--badge-details-background);
    margin-top: auto;
    overflow: clip;
}

.badge-title{
    margin: 10px 7px 7px;
    font-size:30px;
    text-align: center;
}

.badge-info-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:5px
}

.badge-name{
    text-align: center;
    font-size: 1.3em;
}

.badge-info-image{
    width: 30%;
    height:30%;
    margin:5px;
}

.badge-info-desc{
    margin:5px;
}

.badge-rarity{
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

.badge-rarity.common{
    color:var(--common-rarity-color);
}
.badge-rarity.uncommon{
    color:var(--uncommon-rarity-color);
}
.badge-rarity.rare{
    color:var(--rare-rarity-color);
}
.badge-rarity.legendary{
    color:var(--legendary-rarity-color);
}
.badge-rarity.mythic{
    color:var(--mythic-rarity-color);
}

.points{
    height:20vh;
    background: var(--right-sections-background);
}

.user{
    height:20vh;
    background: var(--right-sections-background);
}