
.featured-project-wrapper{
    margin-top: 2vh;
    width:60vh;
    height:calc(60vh + 30px);
    display: flex;
    flex-direction: column;
}

.featured-project-thumb{
    height: calc(60vh + 1px);
    width: calc(60vh + 1px);
    margin-top: -100%;
    background: var(--featured-project-thumb-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.featured-project-thumb.active{
    display: none
}

.featured-project-canvas{
    height:60vh;
    background:#ff00ff;
}

.featured-project-bar{
    height:30px;
    width:100%;
}

.featured-project-thumb .play-icon{
    font-size: 6em;
    text-align: center;
}

.featured-project-canvas #featured-exec-frame{
    width:100%;
    height:100%;
    border:none;
}

.announcements-title{
    text-align: center;
    font-size: 2em;
}

.announcements-pane{
    padding: 5px;
}

.announcement{
    background:var(--announcement-background);
    border-left: 5px solid var(--announcement-side-color);
    padding: 5px;
    margin-top: 5px;
}

.announcement .title{
    font-size: 1.3em;
}
.announcement .content{
    background: var(--announcement-content-background);
    padding: 5px;
    color:var(--announcement-content-text);
}
.announcement .date{
    padding: 5px;
    text-align: right;
    font-size: 0.8em;
    color:var(--announcement-content-text);
}