:root{
    --background-color: #555555;
    --main-content-background: #8f8f8f;
    --content-pane-background: #b5b5b5;

    --lesson-link-color: #a3a3a3;

    --lesson-link-accent: #1e6ec6;
    --lesson-link-unlisted-accent: #d32f2f;

    --lesson-details-background:#a3a3a3;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0;
}

.title-bar{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 5em;
}

.main-content{
    display: flex;
    flex-direction: column;

    background-color: var(--main-content-background);
    width: 60vw;
    margin: 100px auto auto;

    padding: 1vmin;
}

.content-pane{
    background-color: var(--content-pane-background);
    display: flex;
    margin: 10px;
    height: 40vh;
}

.lessons-pane{
    display: flex;
    flex-direction: column;
}

.lesson-link-wrapper{
    margin:7px;
}

.lessons-display{
    height: 60%;
}

.lesson-details{
    height:40%;
    background: var(--lesson-details-background);
}

.lesson-link{
    background: var(--lesson-link-color);
    padding:3px;

    border-left: 3px solid var(--lesson-link-accent);

    /*background: linear-gradient(90deg, var(--lesson-link-color),var(--lesson-link-color) 25%,transparent);*/
}

.lesson-link.unlisted{
    border-left: 3px solid var(--lesson-link-unlisted-accent);
}

.scrollable-content{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}