/* Navbar (navbar.css) */
:root{
    --account-name-text: #ffffff;
    --account-dropdown-option: #d1d1d1;

    --account-dropdown-seperator: #4c4c4c;

    --navbar-shrink-color: #eaeaea;

    --generic-nav-button-color: #2e2e2e;

    --points-display-background: #11df5a;
    --points-display-text: #ffffff;

    --navbar-height:40px;
    color: #e3e3e3;
}

/* Global (global.css) */
:root{
    --default-font: "JetBrains Mono";

    --brand-blue:#0D5DC5;
    --brand-green: #03FC04;
    --brand-black:black;
    --brand-gray:#999999;

    --common-rarity-color: #484848;
    --uncommon-rarity-color: #0091e1;
    --rare-rarity-color: #9a25fa;
    --legendary-rarity-color: #fac825;
    --mythic-rarity-color: #36ffe1;

    --common-rarity-color-dark: #2c2c2c;
    --uncommon-rarity-color-dark: #00699f;
    --rare-rarity-color-dark: #8313d6;
    --legendary-rarity-color-dark: #d3ac0f;
    --mythic-rarity-color-dark: #129a86;

    --legendary-rarity-color-faded: rgba(170, 135, 20, 0.71);
}

/* Shared Project (sharedProject/index.css) */
:root{
    --code-pane-background: #041903;
    --view-pane-background: #323232;

    --info-tab-background: #0c1123;
    --code-tab-background: #07200c;
    --info-tab-color: #b6cfe4;
    --code-tab-color: #bfe4bf;
    --info-section-background: #0b1120;

    --info-inset-background: #202439;
    --author-block-background: #2d3657;

    --tab-bar-background: #292929;

    --remix-button-color: #1a56a8;
    --remix-button-text-color: #e8ecef;

    --original-title-border: #4b6ec8;

    --lesson-card: #a4ecad;
    --lesson-button: #6de383;

    --user-img-size:13vh;
}
.code-editor{
    color:#000;
}

/* Share Board Global (shareBoard/global.css) */
:root{
    --stars-color: #edb90b;
    --stars-text-color: #8a7009;
    --likes-color: #f82062;
    --likes-text-color: #9a0330;
}

/* Share Board (shareBoard/index.css) */
:root{
    --featured-project-bar-background: #2c2c2c;
    --bulk-project-bar-background: #373737;
    --bar-seperator: #535353;
    --interact-tray-background: #333333;
    --title-color-background: #474747;

    --open-icon-color: #000000;
    --open-icon-border-color: #ffffff;

    --bulk-project-overlay-background: rgba(0, 0, 0, 0.78);

    --bar-seperator-height: 2px;
}

/* Login (login/login.css) */
:root{
    --background-color: #b4b4b4;
    --login-pane-color: #c2c2c2;
    --input-container-color: #cecece;
    --input-wrapper-color: #e1e1e1;

    --button-container-color: #cecece;
    --button-color: #e1e1e1;
    --button-color-hover: #f1f1f1;

    --auth-container-color: #cecece;

    --admin-link-color: #626262;

    --auth-error-background: rgba(210, 22, 22, 0.39);
    --auth-error-solid: rgb(211, 48, 48);
    --auth-error-text: rgb(35, 2, 2);
}

/* Lessons (lessons/index.css) */
:root {
    --ui-tray-background:#fff;
    --ui-tray-border: #9f9f9f;
    --ui-tray-icons: #474747;

    --canvas-background-color: #232323;
    --grid-color: #575757;
    --canvas-text-color: #ffffff;
    --canvas-inverse-text-color: #ffffff;
    --canvas-lesson-card-border:#7f7f7f;
    --canvas-lesson-card-background: #202020;
    --canvas-started-accent: #1c9744;
    --canvas-completed-overlay: rgba(31, 166, 75, 0.47);
    --canvas-locked-overlay:#00077;
    --canvas-button-border: #225333;
    --canvas-line-color: #ffffff;
}

/* Index (index/index.css) */
:root{
    --center-background: #1c1c1c;

    --left-bar-background: #292929;
    --left-sections-background: #2a2c3e;

    --right-bar-background: #292929;
    --right-sections-background: #2a3e2d;

    --project-link-background: #44455c;
    --project-link-text: #f1f1f1;
    --project-date-text: #697b8e;

    --lessons-chart-link-background: #3b3d51;
    --lessons-recommended-background: #393e51;

    --badge-details-background: #344a35;
    --badge-hover-color: #425943;
    --badge-color: #425943;

    --new-button-background: #5d6de1;
    --new-button-text-color: #dde5e8;

    --featured-project-thumb-background: rgba(0, 0, 0, 0.5);

    --announcement-background: #2e2e2e;
    --announcement-side-color: #474747;
    --announcement-content-background: #303030;
    --announcement-content-text: #d8d8d8;
    --announcement-date-text: #686868;

    --points-progress-bar-background: #858585;
    --points-progress-bar-fill: #2d7141;

    --status-display-text: #ffffff;
    --status-display-external: #ae3025;
    --status-display-not-started: #163e87;
    --status-display-started: #189543;

    --footer-background: #353535;
    --footer-text-color: #878787;

    --badge-size:50px;

    --share-board-more-button-color: #0b5371;
    --share-board-more-button-text-color: #eef9ff;

    --new-project-popup-background: #2a2c3e;
    --popup-inputs-background: #3f4257;
}

/* Exec (exec/style.css) */
/* Override elements directly */

/* Editor Lang (editor/lang.css) */
:root{
    --code-editor-theme:"dracula"
}

/* Editor Main (editor/editor.css) */
:root{
    --pane-background: #202020;

    --gutter-accent: #505050;
    --gutter-main: #333333;

    --step-background: #151515;
    --step-content-background: #4c4c4c;

    --step-head-default: rgba(212, 17, 255, 0.44);

    --step-info: rgba(80, 181, 230, 0.44);
    --step-code: rgba(104, 255, 98, 0.44);
    --step-challenge: rgba(255, 87, 87, 0.44);
    --step-chapters: rgba(165, 165, 165, 0.44);
    --step-check: rgba(186, 108, 255, 0.44);
    --step-next: rgba(255, 175, 91, 0.44);
    --step-build: rgba(99, 107, 255, 0.44);
    --step-other: rgba(255, 255, 255, 0.44);

    --step-type-background: #515151;

    --code-editor-background: #e0e0e0;

    --run-button-background: #0ed144;
    --run-button-text-color: #ffffff;

    --stop-button-background: #d10e0e;
    --stop-button-text-color: #ffffff;

    --save-button-background: #0e86d1;
    --save-button-text-color: #ffffff;

    --share-button-background: #7f21e4;
    --share-button-text-color: #ffffff;
    --share-button-disabled-background: #808080;

    --share-popup-background: #efefef;
    --share-project-name-input: #cfcfcf;

    --close-button-text-color: #6a6a6a;

    --send-button-background: #959595;
    --console-input-button-background: #dcdcdc;

    --log-error-background: rgba(255, 27, 27, 0.66);
    --log-warn-background: rgba(255, 249, 84, 0.78);
    --log-log-background: rgba(179, 179, 179, 0.85);

    --log-error-solid: rgb(140, 6, 6);
    --log-warn-solid: rgb(168, 143, 3);
    --log-log-solid: rgb(76, 74, 74);

    --save-alert-background: #14293a;
    --save-alert-accent: #15649f;

    --chapter-link-color: #49cccd;
    --chapter-link-color-hover: #26f7f8;

    --step-code-text-background: #452e2f;
    --step-code-text-color: #e37693;

    --step-red-text-color: #ef0909;

    --chapter-end-home-link-color: #6cb6ff;
    --scratch-steps-background: #292929;
}

/* Editor Lesson Creator (editor/lessonCreator.css) */
:root{
    --lesson-creator-container-color: #434343;
    --lesson-creator-button-color: #222222;
    --lesson-creator-meta-color: #434343;
}

/* Editor Arduino (editor/panes/lang/arduino.css) */
:root{
    --arduino-status-not-connected: #939393;
    --arduino-status-ok: #0ed144;
    --arduino-status-loading: #ffb617;
}

/* Editor Scratch (editor/panes/lang/scratch.css) */
/* Override elements directly */

/* Editor Web (editor/panes/lang/web.css) */
:root{
    --filesystem-sidebar: #b5b5b5;
    --filesystem-header: #2c2c2c;
    --folder-icon-line: #636363;
    --current-file-view: #535252;
    --filesystem-background: #a8a8a8;

    --header-text: #ececec;
    --current-file-view-text: #eaeaea;
}

/* Admin Login (adminLogin/admin.css) */
:root{
    --background-color: #4f4f4f;
    --login-pane-color: #6b6b6b;
    --input-container-color: #808080;
    --input-wrapper-color: #939393;

    --button-container-color: #808080;
    --button-color: #939393;
    --button-color-hover: #b0b0b0;

    --auth-container-color: #808080;

    --auth-error-background: rgba(210, 22, 22, 0.39);
    --auth-error-solid: rgb(211, 48, 48);
    --auth-error-text: rgb(35, 2, 2);
}

/* Admin Console (adminConsole/adminConsole.css) */
:root{
    --background-color: #555555;
    --main-content-background: #8f8f8f;
    --content-pane-background: #b5b5b5;

    --data-item-color: #a3a3a3;
    --details-background:#a3a3a3;

    --lesson-link-accent: #1e6ec6;
    --lesson-link-unlisted-accent: #d32f2f;

    --lesson-creator-button-color: #1aca52;
    --admin-button-color: #a1a1a1;
    --admin-button-color-hover: #bbbbbb;

    --add-badge-button-color:#1aca52;
    --load-button-background: #8f8f8f;
}

/* Edit Profile (editProfile/index.css) */
:root{
    --page-background: #131313;
    --main-background: #292929;

    --rows: #3e3e3e;

    --profile-card: #595959;
    --advanced-line: #8e8e8e;
    --username-warning:#ff0000;
}