:root{
    --mv-red:#b72c25;
    --mv-orange:#e5a639;
    --mv-yellow:#e7f544;
    --mv-green:#7cc57c;
    --mv-teal:#7ba6ce;
    --mv-blue:#657bba;

    --mv-red-ui-light: rgba(220, 139, 135, 0.42);
    --mv-red-ui-med: #eaa9a7;
    --mv-red-ui-dark: #dd9c9b;
    --mv-orange-ui-light: #e6d1ae;
    --mv-orange-ui-med: #f4d39e;
    --mv-orange-ui-dark: #dabc8d;
    --mv-yellow-ui-light: #e6e8b6;
    --mv-yellow-ui-med: #dce491;
    --mv-yellow-ui-dark: #c5cf76;
    --mv-green-ui: #c2f3c2;
    --mv-teal-ui: #bdddf6;
    --mv-blue-ui: #b5c5f1;
}


/* Navbar (navbar.css) */
:root{
    --account-name-text: #ffffff;
    --account-dropdown-option: #ffffff;

    --account-dropdown-seperator: var(--mv-red);

    --navbar-shrink-color: #1a1a1a;

    --generic-nav-button-color: var(--mv-red);

    --points-display-background: #64a667;
    --points-display-text: #ffffff;

    --navbar-height:40px;
}

.navbar{
    background: var(--mv-red);
}

.username-link{
    font-size:1rem;
    margin-right: 15px;
}

.account-dropdown-wrapper{
    display: flex;
    align-items: center;
}

.username-link::after{
    content:"\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:5px
}

.username-link::before{
}

/* Global (global.css) */
:root{
    --default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;

    --brand-blue:#0D5DC5;
    --brand-green: #03FC04;
    --brand-black:black;
    --brand-gray:#999999;

    --common-rarity-color: #484848;
    --uncommon-rarity-color: #0091e1;
    --rare-rarity-color: #9a25fa;
    --legendary-rarity-color: #fac825;
    --mythic-rarity-color: #36ffe1;

    --common-rarity-color-dark: #2c2c2c;
    --uncommon-rarity-color-dark: #00699f;
    --rare-rarity-color-dark: #8313d6;
    --legendary-rarity-color-dark: #d3ac0f;
    --mythic-rarity-color-dark: #129a86;

    --legendary-rarity-color-faded: rgba(170, 135, 20, 0.71);
}

/* Shared Project (sharedProject/index.css) */
:root{
    --code-pane-background: #d0efcc;
    --view-pane-background: #b6b6b6;

    --info-tab-background: #acb4d6;
    --code-tab-background: #90d89e;
    --info-tab-color: #021930;
    --code-tab-color: #033c03;
    --info-section-background: #d1d7e8;

    --info-inset-background: #c6cee3;
    --author-block-background: #b6c3e6;

    --tab-bar-background: #c3c3c3;

    --remix-button-color: #2078e8;
    --remix-button-text-color: #e3e5e8;

    --original-title-border: #4b6ec8;

    --lesson-card: #a4ecad;
    --lesson-button: #6de383;

    --user-img-size:13vh;
}

/* Share Board Global (shareBoard/global.css) */
:root{
    --stars-color: #edb90b;
    --stars-text-color: #8a7009;
    --likes-color: #f82062;
    --likes-text-color: #9a0330;
}

/* Share Board (shareBoard/index.css) */
:root{
    --featured-project-bar-background: #eaeaea;
    --bulk-project-bar-background: #dddddd;
    --bar-seperator: #b1b1b1;
    --interact-tray-background: #b5b5b5;
    --title-color-background: #b5b5b5;

    --open-icon-color: #000000;
    --open-icon-border-color: #ffffff;

    --bulk-project-overlay-background: rgba(0, 0, 0, 0.48);

    --bar-seperator-height: 2px;
}


/* Login (login/login.css) */
:root{
    --background-color: #b4b4b4;
    --login-pane-color: #c2c2c2;
    --input-container-color: #cecece;
    --input-wrapper-color: #e1e1e1;

    --button-container-color: #cecece;
    --button-color: #e1e1e1;
    --button-color-hover: #f1f1f1;

    --auth-container-color: #cecece;

    --admin-link-color: #626262;

    --auth-error-background: rgba(210, 22, 22, 0.39);
    --auth-error-solid: rgb(211, 48, 48);
    --auth-error-text: rgb(35, 2, 2);
}

/* Lessons (lessons/index.css) */
:root {
    --ui-tray-background:#fff;
    --ui-tray-border: #9f9f9f;
    --ui-tray-icons: #474747;
}

/* Index (index/index.css) */
:root{
    --center-background: #eaeaea;

    --left-bar-background: #dcdcdc;
    --left-sections-background: var(--mv-red-ui-light);

    --right-bar-background: #dddddd;
    --right-sections-background: #aadcb4;

    --project-link-background: var(--mv-red-ui-dark);
    --project-link-text: #191919;
    --project-date-text: #1c1b1b;

    --lessons-chart-link-background:var(--mv-red-ui-med);
    --lessons-recommended-background: var(--mv-red-ui-med);

    --badge-details-background: #94d89d;
    --badge-hover-color: #83d88f;
    --badge-color: #94d89d;

    --new-button-background: var(--mv-orange);
    --new-button-text-color: #2b2a28;

    --featured-project-thumb-background: rgba(0, 0, 0, 0.5);

    --announcement-background: #d9d9d9;
    --announcement-side-color: #bebebe;
    --announcement-content-background: #e1e1e1;
    --announcement-content-text: #4d4d4d;
    --announcement-date-text: #4d4d4d;

    --points-progress-bar-background: #cdcdcd;
    --points-progress-bar-fill: #64d888;

    --status-display-text: #dfdfdf;
    --status-display-external: #ea473a;
    --status-display-not-started: #3a78ea;
    --status-display-started: #3aea78;

    --footer-background: #c5c5c5;
    --footer-text-color: #717171;

    --badge-size:50px;

    --share-board-more-button-color: #14a4e3;
    --share-board-more-button-text-color: #eef9ff;

    --new-project-popup-background: #b3b9df;
    --popup-inputs-background: #9da6dd;
}
.projects{
    --project-link-background: var(--mv-orange-ui-dark);
    background: var(--mv-orange-ui-light);
}
.share-board{
    background: var(--mv-teal-ui);
}
.user{
    background: var(--mv-blue-ui);
}
/* Exec (exec/style.css) */
/* Override elements directly */

/* Editor Main (editor/editor.css) */
:root{
    --pane-background: #bcbcbc;

    --gutter-accent: #b3b3b3;
    --gutter-main: #d3d3d3;

    --step-background: #d5d5d5;
    --step-content-background: #e4e4e4;

    --step-head-default: rgba(209, 0, 255, 0.44);

    --step-info: rgba(21, 156, 214, 0.44);
    --step-code: rgba(27, 214, 21, 0.44);
    --step-challenge: rgba(214, 21, 21, 0.44);
    --step-chapters: rgba(101, 101, 101, 0.44);
    --step-check: rgba(153, 44, 255, 0.44);
    --step-next: rgba(255, 148, 34, 0.44);
    --step-build: rgba(34, 45, 255, 0.44);
    --step-other: rgba(21, 21, 21, 0.44);

    --step-type-background: #707070;

    --code-editor-background: #e0e0e0;

    --run-button-background: #0ed144;
    --run-button-text-color: #ffffff;

    --stop-button-background: #d10e0e;
    --stop-button-text-color: #ffffff;

    --save-button-background: #0e86d1;
    --save-button-text-color: #ffffff;

    --share-button-background: #7f21e4;
    --share-button-text-color: #ffffff;
    --share-button-disabled-background: #808080;

    --share-popup-background: #efefef;
    --share-project-name-input: #cfcfcf;

    --close-button-text-color: #6a6a6a;

    --send-button-background: #959595;
    --console-input-button-background: #dcdcdc;

    --log-error-background: rgba(255, 27, 27, 0.37);
    --log-warn-background: rgba(255, 243, 17, 0.37);
    --log-log-background: rgb(71 70 68 / 22%);

    --log-error-solid: rgb(255, 45, 45);
    --log-warn-solid: rgb(220, 188, 13);
    --log-log-solid: rgb(120, 119, 118);

    --save-alert-background: #cfe6f8;
    --save-alert-accent: #4094d6;

    --chapter-link-color: #226d6e;
    --chapter-link-color-hover: #22bcbd;

    --step-code-text-background: #fae6e8;
    --step-code-text-color: #c5244e;

    --step-red-text-color: #ef0909;

    --chapter-end-home-link-color: #2180d1;
    --scratch-steps-background: #dddddd;

    --editor-font: 'Henny Penny',Monaco, Menlo, Consolas, "Courier New", monospace !important;
}
@font-face {
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/hennypenny/v17/wXKvE3UZookzsxz_kjGSfPQtvXI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Editor Lesson Creator (editor/lessonCreator.css) */
:root{
    --lesson-creator-container-color: #b8b8b8;
    --lesson-creator-button-color: #dfdfdf;
    --lesson-creator-meta-color: #a1a1a1;
}

/* Editor Arduino (editor/panes/lang/arduino.css) */
:root{
    --arduino-status-not-connected: #939393;
    --arduino-status-ok: #0ed144;
    --arduino-status-loading: #ffb617;
}

/* Editor Scratch (editor/panes/lang/scratch.css) */
/* Override elements directly */

/* Editor Web (editor/panes/lang/web.css) */
:root{
    --filesystem-sidebar: #b5b5b5;
    --filesystem-header: #2c2c2c;
    --folder-icon-line: #636363;
    --current-file-view: #535252;
    --filesystem-background: #a8a8a8;

    --header-text: #ececec;
    --current-file-view-text: #eaeaea;
}

/* Admin Login (adminLogin/admin.css) */
:root{
    --background-color: #4f4f4f;
    --login-pane-color: #6b6b6b;
    --input-container-color: #808080;
    --input-wrapper-color: #939393;

    --button-container-color: #808080;
    --button-color: #939393;
    --button-color-hover: #b0b0b0;

    --auth-container-color: #808080;

    --auth-error-background: rgba(210, 22, 22, 0.39);
    --auth-error-solid: rgb(211, 48, 48);
    --auth-error-text: rgb(35, 2, 2);
}

/* Admin Console (adminConsole/adminConsole.css) */
:root{
    --background-color: #555555;
    --main-content-background: #8f8f8f;
    --content-pane-background: #b5b5b5;

    --data-item-color: #a3a3a3;
    --details-background:#a3a3a3;

    --lesson-link-accent: #1e6ec6;
    --lesson-link-unlisted-accent: #d32f2f;

    --lesson-creator-button-color: #1aca52;
    --admin-button-color: #a1a1a1;
    --admin-button-color-hover: #bbbbbb;

    --add-badge-button-color:#1aca52;
    --load-button-background: #8f8f8f;
}

/* Edit Profile (editProfile/index.css) */
:root{
    --page-background: #f4f4f4;
    --main-background: #e8e8e8;

    --rows: #d6d6d6;

    --profile-card: #b5b5b5;
    --advanced-line: #8e8e8e;
    --username-warning:#ff0000;
}