:root{
    --account-name-text: #ffffff;
    --account-dropdown-background: #2e2e2e;
    --account-dropdown-option: #d1d1d1;

    --navbar-shrink-color: #1a1a1a;
}

brand-nav{
    height:5vh;
    width:100vw;
}

.navbar{
    height:5vh;
    background: linear-gradient(106deg, var(--brand-black) 9%, var(--brand-green)24%, var(--brand-gray) 47%, var(--brand-black) 66%, var(--brand-blue) 87%, var(--brand-black) 99%);

    transition: height 1s;
}

.navbar-visibility-button{
    position: absolute;
    transition: 1s;
    margin:3px;
    font-weight: 800;
    color:var(--navbar-shrink-color);
}

.username-link{
    color: var(--account-name-text);
    background:var(--account-dropdown-background);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    font-weight: 700;
    font-size: 23px;
    font-family: Calibri, serif;

    text-align: center;

    min-width: 100px;
    padding: 4px;
    border-radius: 10px;

    transition: .1s;
}

.account-dropdown-wrapper{
    float: right;
    position: relative;
    top:50%;
    margin-right:15px;
    transform: translate(0,-50%);
}

.account-options{
    position: absolute;
    overflow: clip;
    z-index: 100;
    width: 100%;
    height:0;
    transition: .4s;
}
.account-options > .option{
    background:var(--account-dropdown-background);
    width: 100%;
    color: var(--account-dropdown-option);
    height:20px;
    text-align: center;
}