:root{
    --pane-background: #9a9a9a;

    --gutter-accent: #b9b9b9;
    --gutter-main: #8c8c8c;
    --gutter-dark: #777777;

    --step-background: #c2c2c2;
    --step-content-background: #d2d2d2;

    --step-head-default: rgba(209, 0, 255, 0.44);

    --step-info: rgba(21, 156, 214, 0.44);
    --step-code: rgba(27, 214, 21, 0.44);
    --step-challenge: rgba(214, 21, 21, 0.44);
    --step-other: rgba(58, 58, 58, 0.44);

    --code-editor-background: #e0e0e0;

    --run-button-background: #0ed144;
    --run-button-text-color: #ffffff;
}

body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.pane-container{
    margin:0;
}

.gutter{
    background: var(--gutter-main);
}

.gutter-handle{
    background: var(--gutter-main);
}

.editor-pane{
    background: var(--pane-background);
    width:33vw;
    height:100vh;
}

.gutter-block{
    height:25vh;
    width:100%;
    background: var(--gutter-accent);
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*pane default sizes*/
.steps-pane{
    width: 25vw;
}
.code-pane{
    width: 40vw;
}
.output-pane{
    width: 35vw;
}