:root{
    --pane-background: #bcbcbc;

    --gutter-accent: #b9b9b9;
    --gutter-main: #cccccc;
    --gutter-dark: #777777;

    --step-background: #d5d5d5;
    --step-content-background: #e4e4e4;

    --step-head-default: rgba(209, 0, 255, 0.44);

    --step-info: rgba(21, 156, 214, 0.44);
    --step-code: rgba(27, 214, 21, 0.44);
    --step-challenge: rgba(214, 21, 21, 0.44);
    --step-other: rgba(58, 58, 58, 0.44);

    --code-editor-background: #e0e0e0;

    --run-button-background: #0ed144;
    --run-button-text-color: #ffffff;
}

body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.pane-container{
    margin:0;
}

.gutter{
    background: var(--gutter-main);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.editor-pane{
    background: var(--pane-background);
    width:33vw;
    height:100vh;
}

/*pane default sizes*/
.steps-pane{
    width: 25vw;
}
.code-pane{
    width: 40vw;
}
.output-pane{
    width: 35vw;
}