.lesson-creator-button-container {
    position: fixed;
    bottom: 0;
    background: #ff00ff;
    display: flex;
}

.add-step-button{
    background: #00ffff;
    margin: 5px;
}

.save-lesson-button{
    background: #00ffff;
    margin: 5px;
}