:root{

}

.lesson-creator-button-container {
    position: fixed;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    background: #ff00ff;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lesson-creator-button {
    background: #00ffff;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}

.meta-edit-pane{
    position: fixed;
    display: none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50%;
    height:50%;
    background: #00ffff;
}