.navbar{
    height:5vh;
    background: #00ffff;
    transition: height 1s;
}

.navbar-visibility-button{
    position: absolute;
    transition: 1s;
    margin:3px
}

.username-link{
    float: right;
    position: relative;
    top:50%;
    margin-right:15px;
    transform: translate(0,-50%);
}
