:root{
    --account-name-text:#000000;
    --account-dropdown-background:#000000;
    --account-dropdown-option:#000000;
}

.navbar{
    height:5vh;
    background: linear-gradient(106deg, rgba(0,0,0,1) 9%, rgba(0,255,0,1) 24%, rgba(124,124,124,1) 47%, rgba(0,0,0,1) 66%, rgba(0,0,255,1) 87%, rgba(0,0,0,1) 99%);

    transition: height 1s;
}

.navbar-visibility-button{
    position: absolute;
    transition: 1s;
    margin:3px
}

.username-link{
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    font-weight: 700;
    font-size: 23px;
    font-family: Calibri, serif;

    text-align: center;

    min-width: 100px;
}

.account-dropdown-wrapper{
    float: right;
    position: relative;
    top:50%;
    margin-right:15px;
    transform: translate(0,-50%);
}

.account-options{
    position: absolute;
    visibility: hidden;
    z-index: 100;
    width: 100%;
}
.account-options > .option{
    background: #ff00ff;
    width: 100%;
    text-align: center;
}