*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.pane-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.resizable-pane {
    padding: 1em;
    overflow: clip;
    min-width: 1px;
}

.code-pane {
    position: relative;
}

.output-pane {
    position: relative;
    flex-grow: 1;
}

.gutter-left {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: col-resize;
}
.gutter-right {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: col-resize;
}

