.share-popup-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background-color: rgba(0,0,0, 0.8);
    opacity:0;
    pointer-events:none;
}

