.share-popup-container{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background-color: rgba(0,0,0, 0.8);
    opacity:0;
    pointer-events:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.share-popup-content{
    background-color:var(--share-popup-background);
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;

    width:33vw;
    height:20vw;

    border-radius:10px;
    overflow:clip;
}

.share-popup-content .title{
    font-size:3em;
}

.share-preview{
    width:50%;
    aspect-ratio: 1;
}