:root {
    --ui-tray-background:#fff;
    --ui-tray-border: #9f9f9f;
    --ui-tray-icons: #474747;

    --canvas-background-color:#fff;
    --grid-color:#7f7f7f;
    --canvas-text-color:#000;
    --canvas-inverse-text-color:#fff;
    --canvas-lesson-card-border:#7f7f7f;
    --canvas-lesson-card-background:#fff;
    --canvas-started-accent:#43e176;
    --canvas-completed-overlay:#43e17677;
    --canvas-locked-overlay:#00077;
    --canvas-button-border:#89e6ae;
    --canvas-line-color:#000;
}

body{
    margin:0;
    overflow: hidden;
}

.nav-shift-fix{
    height:var(--navbar-height);
}

.ui-tray{
    user-select: none;
    padding-right:5px;
    padding-top:3px;
    padding-left:3px;
    position: fixed;
    bottom: 0;
    background:var(--ui-tray-background);
    border: 1px solid var(--ui-tray-border);
    border-bottom:none;
    border-left:none;
    border-top-right-radius: 5px;
}

.ui-tray i {
    color: var(--ui-tray-icons);
    font-size:1.7em;
}