:root {
    --ui-tray-background:#fff;
    --ui-tray-border: #9f9f9f;
    --ui-tray-icons: #474747;
}

body{
    margin:0;
    overflow: hidden;
}

.nav-shift-fix{
    height:var(--navbar-height);
}

.ui-tray{
    user-select: none;
    padding-right:5px;
    padding-top:3px;
    padding-left:3px;
    position: fixed;
    bottom: 0;
    background:var(--ui-tray-background);
    border: 1px solid var(--ui-tray-border);
    border-bottom:none;
    border-left:none;
    border-top-right-radius: 5px;
}

.ui-tray i {
    color: var(--ui-tray-icons);
    font-size:1.7em;
}