body{
    margin: 0;
    background: #7f7f7f;
}

.view-pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe{
    border: none;
    width: 100vmin;
    aspect-ratio: 1/1;
}