.admin-button{
    margin-right: 10px;
    padding:3px;
    border-radius: 5px;
    font-size: 1.3rem;
    background: var(--admin-button-color);
}

.admin-button:hover{
    background: var(--admin-button-color-hover);
}

.buttons-pane{
    margin: 10px;
}